colorama==0.4.6
dotenv==1.1.0
google==3.0.0
matplotlib==3.10.3
numpy==2.2.6
openai==1.82.1
pandas==2.2.3
pytest==8.3.5
requests==2.32.3
rich==14.0.0
seaborn==0.13.2
sklearn==1.6.1
tensorflow==2.19.0
torch==2.7.0
transformers==4.52.4
